@model Flow.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Ej behörig!";
}
<div class="wraper-layer">
    <div class="alert-danger">
        <h3 class="alert-danger text-center">Obehörig emailadress!</h3>
        <p class="text-center">Du loggade in med en obehörig emailadress.</p>
        @Html.ActionLink("Tillbaka", "Login", "Account")
    </div>
</div>

<style>
    .wraper-layer {
        width: 400px;
        margin: 100px auto;
    }

</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
