<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://flowtraffic.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>flowtraffic.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>flowtraffic</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$flowtraffic</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FlowDb" Order="1" Enabled="True">
          <Destination Path="Data Source=http://vhost9.lnu.se:20081;Initial Catalog=1dv449_ab22cwProject;User ID=appUser;Password=&quot;1Br@Lösen=rd?&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FlowVersion2.Models.ApplicationDbContext, FlowVersion2" MigrationConfiguration="FlowVersion2.Migrations.Configuration, FlowVersion2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FlowDb-Web.config Connection String">
      <ParameterValue>Data Source=http://vhost9.lnu.se:20081;Initial Catalog=1dv449_ab22cwProject;User ID=appUser;Password="1Br@Lösen=rd?"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>