
@{
    Layout = null;
    ViewBag.Title = "Administrering";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <h2>Flow administrering</h2>
</div>
</body>
</html>
